window {
    background-color: #3e3e3e;
    font-family: Iosevka;
    font-size: 16px;
}

#input {
    margin: 5px;
    background: #424242;
    color: white;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
    border: 2px transparent;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: rgba(0,0,0,0);
}

#text:selected {
    text-decoration: underline;
    text-decoration-color: white;
}

